#calculadora {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: cadetblue;
    color: beige;
    width: 250px;
    padding: 4px;
}

#calcular {
    margin: 10px;
    width: 100px;
    align-self: center;
}

#painel {
    width: 200px;
    background-color: cadetblue;
    color: beige;
    margin: 20px;
}