body {
    background-color: black;
    color: beige;
}

.titulo {
    display: flex; 
    flex-direction: row; /* Faz o container se ajustar em modelo de linhas */
    justify-content: center; /* Faz o container ir para o centro */
}

.navegacao {
    display: flex;          /* Faz os itens ficarem lado a lado */
    list-style: none;       /* Remove as bolinhas (adereço) */
    padding: 0px;
    margin: 0;
    height: 60px;
    align-items: center;    /* Alinha os itens verticalmente no centro da barra */
    justify-content: space-around; /* Os itens ficam com o mesmo espaço entre eles, mas sem encostar na borda */ 
    background-color: brown;
    border: 4px solid bisque; /* Adiciona uma borda branca */
    border-radius: 4px; /* Define o tamanho da borda */
}

.navegacao li {
    margin-right: 20px;     /* Dá um espaço entre os links */
    color: bisque;
    flex-grow: 1;
}

.navegacao a {
    text-decoration: none;
}

.navegacao li:hover {
    color: black;
    background-color: bisque;
}

.navegacao li:active {
    color: black;
    background-color: bisque;
}

.texto {
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 10px;
    border: 4px solid bisque;
    border-radius: 4px;
    padding: 4px;
}

.texto h2 {
    text-align: center;
    align-self: center;
    background-color: bisque;
    color: brown;
    width: 90%;
}

.agrupar {
    display: flex;
    flex-direction: row;
    background-color: brown;
    margin: 10px;
    border: 4px solid bisque;
    border-radius: 4px;
    padding: 4px;
}

.caixa1 {
    flex: 1 1 0;
    background-color: bisque;
    color: brown;
    padding: 4px;
    margin: 5px;
}

.caixa1:focus-within {
    background-color: black;
    color: bisque;
}

.caixa2 {
    flex: 2 1 0;
    background-color: bisque;
    color: brown;
    padding: 4px;
    margin: 5px;
}

.caixa2:focus-within {
    background-color:indianred;
    color:gold
}

.fundo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: bisque;
    margin: 10px;
    border: 4px solid brown;
    border-radius: 4px;
}

.contato1 {
    flex: 0 1 auto;
    background-color:grey;
    color: black;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.contato1:hover {
    background-color: #25d366; /* Verde Whatsapp */
    text-decoration: underline;
}

.contato2 {
    flex: 0 1 auto;
    background-color:grey;
    color: black;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.contato2:hover {
    background-color: #e1306c; /* Rosa Instagram */
    text-decoration: underline;
}

.contato3 {
    flex: 0 1 auto;
    background-color:grey;
    color: black;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.contato3:hover {
    background-color: #1877f2; /* Azul Facebook */
    text-decoration: underline;
}